body {
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: aquamarine;
}

nav{
    background-color: bisque;
}

main{
    background-color: bisque;
}

li{
    width: 100px;
}

h1{
    text-align: center;
    color: rgb(114, 25, 25);
}

p{
    line-height: 30px;
}