body{
    max-width: 100%;
    overflow-x: hidden; /* Ngăn thanh cuộn ngang */
}

.search_contain{
    display: block;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .logo, .search_contain {
        text-align: center;
        margin-bottom: 20px;
    }
}

.menu_contain nav{
    display: flex;
    justify-content: center;
}

.car_img{
    width: 55%;
}

.car_img img{
    width: 100%;
    object-fit: cover;
    margin-left: 10px;
}

.car_img .pc2{
    margin: 10px;
    width: 100%;
    position: relative;
    left: 0px;
}

.info_regis{
    width: 45%;
}

h1{
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.info_regis h2{
    color: orange;
    display: flex;
    justify-content: center;
}

p{
    text-align: justify;
}

.best_sell{
    text-align: justify;
}

.sell_car{
    width: 25%;
    border: 2px solid black;
}

.sell_car img{
    width: 100%;
    object-fit: cover;
}

.pc3{
    margin-left: 11px;
}

.sell_info{
    width: 25%;
}

.best_sell h2{
    color: aqua;
}

.best_sell h3{
    color: red;
}

.best_sell h4{
    font-style: italic;
}

.footer{
    background-color: aqua;
    text-align: center;
    padding: 20px 0;          
    width: 100%;              
    margin-top: 30px;
}

.footer p {
    text-align: center;
}

